/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.profile-info {
    text-align: left;
    margin-bottom: 20px;
}

.profile-info p {
    font-size: 16px;
    margin: 10px 0;
    color: #555;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    margin: 10px;

}

button:hover {
    background-color: #575757;
}

.loading,
.error,
.no-data {
    font-size: 18px;
    color: #333;
    text-align: center;
}

.error img {
    margin-top: 20px;
    width: 200px;
    height: auto;
    border-radius: 8px;
}